.button {
  background: $color-primary;
  color: white;
  height: 5rem;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 2rem;
  user-select: none;
  font-size: 1.4rem;
  outline: transparent;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 2px;
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    background: rgba($color-primary, 0.9);
  }
}
