.card {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 90rem;
  background: $color-white;
  margin: 4rem auto;
  border: none;
  box-shadow: 0 0.0625rem 1rem 0 rgba(0, 0, 0, 0.24);
  padding: 2rem 4rem;
  max-height: 44rem;
}

.app {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  position: relative;
  padding: 2rem 3rem;
}
